<!DOCTYPE HTML>
<html>
	<head>
		<title>SILPH - ALBUM</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body>
		<div class="page-wrap">

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="index.html"><span class="icon fa-home"></span></a></li>
						<li><a href="gallery.html" class="active"><span class="icon fa-camera-retro"></span></a></li>
						<li><a href="generic.html"><span class="icon fa-file-text-o"></span></a></li>
					</ul>
				</nav>
            
			<!-- Main -->
				<section id="main">

					<!-- Header -->
						<header id="header">
							<div>SILPH - <span>fotografi</span></div>
						</header>

					<!-- Gallery -->
						<section id="galleries">

							<!-- Photo Galleries -->
								<div class="gallery">

									<!-- Filters -->
										<header>
											<h1><u>Guarda gli Album dei Nostri Fotografi</u></h1>
										</header>

										<div class="content">
											
										</div>
								</div>
						</section>
				</section>
		</div>

		<!-- Scripts -->
			<script src="static/js/ie/jquery.min.js"></script>
			<script src="static/js/ie/jquery.poptrox.min.js"></script>
			<script src="static/js/ie/jquery.scrolly.min.js"></script>
			<script src="static/js/ie/skel.min.js"></script>
			<script src="static/js/ie/util.js"></script>
			<script src="static/js/ie/main.js"></script>

	</body>
</html>