<!DOCTYPE HTML>
<html>
	<head>
		<title>SILPH - RICHIESTA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body>
		<div class="page-wrap">

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="index.html"><span class="icon fa-home"></span></a></li>
						<li><a href="gallery.html"><span class="icon fa-camera-retro"></span></a></li>
						<li><a href="generic.html" class="active"><span class="icon fa-file-text-o"></span></a></li>
					</ul>
				</nav>

			<!-- Main -->
				<section id="main">

					<!-- Header -->
						<header id="header">
							<div>SILPH - <span>richiesta foto</span></div>
						</header>
						<section id="contact">
							<!-- Form -->
								<div class="column">
									<h3>Inserisci I Tuoi Dati</h3>
									<form action="#" method="post">
										<div class="field half first">
											<label for="name">Nome</label>
											<input name="name" id="name" type="text" placeholder="Nome" required>
										</div>
										<div class="field half">
											<label for="surname">Cognome</label>
											<input name="surname" id="surname" type="text" placeholder="Cognome" required>
										</div>
										<div class="field">
											<label for="email">Email</label>
											<input name="email" id="email" type="email" placeholder="Email" required>
										</div>
										<div class="field">
											<label for="surname">Nr. Telefono</label>
											<input name="telephone" id="telephone" type="text" placeholder="Numero telefono" required>
										</div>
										<div class="field">
											<label for="message">Richiesta Foto</label>
											<textarea name="message" id="message" rows="6" placeholder="Inserisci l'ID delle foto a cui sei interessato." required></textarea>
										</div>
										<ul class="actions">
											<li><input value="Invia Richiesta" class="button" type="submit"/></li>
										</ul>
									</form>
								</div>
						</section>
						
				</section>
		</div>

		<!-- Scripts -->
			<script src="static/js/ie/jquery.min.js"></script>
			<script src="static/js/ie/jquery.poptrox.min.js"></script>
			<script src="static/js/ie/jquery.scrolly.min.js"></script>
			<script src="static/js/ie/skel.min.js"></script>
			<script src="static/js/ie/util.js"></script>
			<script src="static/js/ie/main.js"></script>
	</body>
</html>