<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th=http://www.thymeleaf.org xmlns="http://www.w3.org/1999/html">
	<head>
		<title>SILPH</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>
		<div class="page-wrap">

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a th:href="@{index}" class="active"><span class="icon fa-home"></span></a></li>
						<li><a th:href="@{fotografi}"><span class="icon fa-camera-retro"></span></a></li>
						<li><a th:href="@{addRichiesta}"><span class="icon fa-file-text-o"></span></a></li>
					</ul>
				</nav>

			<!-- Main -->
				<section id="main">

					<!-- Banner -->
						<section id="banner">
							<div class="inner">
							    <ul class="actions">
									<li th:if="${role} != 'ADMIN' "><a th:href="login" class="button alt scrolly big" style="position:absolute;top:-250px;left:890px">Log In</a></li>
									<li th:if="${role} == 'ADMIN' "><a th:href="logout" class="button alt scrolly big" style="position:absolute;top:-250px;left:890px">Log Out</a></li>
								</ul>
							</div>
							<div class="inner">
								<h1>Benvenuto in Silph</h1>			
							</div>
						</section>

					<!-- Gallery -->
						<section id="galleries">

							<!-- Photo Galleries -->
								<div class="gallery">
									<header class="special">
										<font face="castellar"><h2><div class="social column">
									        <h3><u>Chi Siamo</u></h3>
									        <p>Siamo un'azienda che si occupa della vendita di fotografie ai fini commerciali.<br>
									        Nella sezione 'gallery',o premendo il tasto qui sotto,sarà possibile vedere la lista dei nostri fotografi,<br>
									        ognuno con i propri album.</p>
									        <p>Nella sezione 'richiesta foto' è possibile acquistare foto specificando il loro ID ed inviando la richiesta.<br>
									        I nostri funzionari vi chiameranno il prima possibile per trattare sul prezzo d'acquisto.</p>	
								            </div></h2></font>
									</header>
									
									<footer>
										<a th:href="@{fotografi}" class="button big">Sfoglia i Nostri Fotografi</a><br><br>		
										<div th:if="${role} == 'ADMIN' "><a th:href="@{/fotografo/{idPh}/album/{idA}/addFotografia}" class="button big">Aggiungi una Foto</a></div><br>
										<div th:if="${role} == 'ADMIN' "><a th:href="@{/fotografo/{idPh}/addAlbum}" class="button big">Aggiungi un Album</a></div><br>
										<div th:if="${role} == 'ADMIN' "><a th:href="@{richieste}" class="button big">Visualizza Richieste</a></div>
									</footer>
								</div>
				</section>
		</div>

		<!-- Scripts -->
			<script src="static/js/ie/jquery.min.js"></script>
			<script src="static/js/ie/jquery.poptrox.min.js"></script>
			<script src="static/js/ie/jquery.scrolly.min.js"></script>
			<script src="static/js/ie/skel.min.js"></script>
			<script src="static/js/ie/util.js"></script>
			<script src="static/js/ie/main.js"></script>

	</body>
</html>