<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th=http://www.thymeleaf.org xmlns="http://www.w3.org/1999/html">
	<head>
		<title>SILPH - RICHIESTE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body id="main">
        <section>
        	<header>
             	<h1><u>Lista Richieste:<u></h1><br>
            </header>
                  <div class="content">
						<ul>
						   <li th:each="richiesta : ${richieste}">
							   <p>
								   <a th:href="@{'/richiesta' + '/' + ${richiesta.id}}"></a>
								   <span th:text="${richiesta.nomeCliente}+ ' ' + ${richiesta.cognomeCliente}"></span>
							   </p>
						  </li>
						</ul>
				</div>
        	<a th:href="@{index}" class="button">Indietro</a>
        </section>
	</body>
</html>